<table>
    <thead>
        <tr>
            <th></th>
            <th scope="col">01 </th>
            <th scope="col">02 </th>
            <th scope="col">03 </th>
            <th scope="col">04 </th>
            <th scope="col">05</th>
            <th scope="col">06 </th>
            <th scope="col">11 </th>
            <th scope="col">12 </th>
        </tr>
        <tr>
            <th scope="row">"Grey" Theme</th>
            <td> <img src="<?php echo CMPOPFLY_PLUGIN_URL . 'shared/assets/images/icons/'; ?>01_icon grey 30x30.png"/></td>
            <td> <img src="<?php echo CMPOPFLY_PLUGIN_URL . 'shared/assets/images/icons/'; ?>02_icon grey 30x30.png"/></td>
            <td> <img src="<?php echo CMPOPFLY_PLUGIN_URL . 'shared/assets/images/icons/'; ?>03_icon grey 30x30.png"/></td>
            <td> <img src="<?php echo CMPOPFLY_PLUGIN_URL . 'shared/assets/images/icons/'; ?>04_icon grey 30x30.png"/></td>
            <td> <img src="<?php echo CMPOPFLY_PLUGIN_URL . 'shared/assets/images/icons/'; ?>05_icon grey 30x30.png"/></td>
            <td> <img src="<?php echo CMPOPFLY_PLUGIN_URL . 'shared/assets/images/icons/'; ?>06_icon grey 30x30.png"/></td>
            <td> <img src="<?php echo CMPOPFLY_PLUGIN_URL . 'shared/assets/images/icons/'; ?>11_icon grey 30x30.png"/></td>
            <td> <img src="<?php echo CMPOPFLY_PLUGIN_URL . 'shared/assets/images/icons/'; ?>12_icon grey 30x30.png"/></td>
        <tr>
            <th scope="row">"White" Theme</th>
            <td> <img src="<?php echo CMPOPFLY_PLUGIN_URL . 'shared/assets/images/icons/'; ?>01_icon white 30x30.png"/></td>
            <td> <img src="<?php echo CMPOPFLY_PLUGIN_URL . 'shared/assets/images/icons/'; ?>02_icon white 30x30.png"/></td>
            <td> <img src="<?php echo CMPOPFLY_PLUGIN_URL . 'shared/assets/images/icons/'; ?>03_icon white 30x30.png"/></td>
            <td> <img src="<?php echo CMPOPFLY_PLUGIN_URL . 'shared/assets/images/icons/'; ?>04_icon white 30x30.png"/></td>
            <td> <img src="<?php echo CMPOPFLY_PLUGIN_URL . 'shared/assets/images/icons/'; ?>05_icon white 30x30.png"/></td>
            <td> <img src="<?php echo CMPOPFLY_PLUGIN_URL . 'shared/assets/images/icons/'; ?>06_icon white 30x30.png"/></td>
            <td> <img src="<?php echo CMPOPFLY_PLUGIN_URL . 'shared/assets/images/icons/'; ?>11_icon white 30x30.png"/></td>
            <td> <img src="<?php echo CMPOPFLY_PLUGIN_URL . 'shared/assets/images/icons/'; ?>12_icon white 30x30.png"/></td>
        </tr>

</table>