
<div class="cminds_settings_description">
    <p>
        <strong>Plugin Usage Instructions:</strong> <a href="javascript:void(0)" onclick="jQuery(this).parent().next().slideToggle()">Show/Hide</a>
    </p>

    <div style="display:none">
        <ol>
            <li>Go to <strong>"Add New Help Item"</strong></li>
            <li>Fill the <strong>"Title"</strong> and <strong>"Content"</strong></li>
            <li>Click <strong>"Add Advertisement Item"</strong> to dynamically add more items</li>
            <li>Check <strong>"Show on every page"</strong></li>
            <li>Click <strong>"Save Changes"</strong></li>
            <li>Go to any page of your website</li>
            <li>Look for Help Icon on the right edge of the screen</li>
            <li>Click on the icon to open the widget</li>
        </ol>
    </div>

    <p>
        <strong>Supported Icons Preview:</strong> <a href="javascript:void(0)" onclick="jQuery(this).parent().next().slideToggle()">Show/Hide</a>
    </p>

    <div style="list-style-type:disc;margin-left:20px;">
        <?php include 'icon-preview-flat.phtml'; ?>
    </div>

    <div>
        <div class="cmtt_field_help_container"></div>
        <form method="post">
            <input title="Warning! This option will completely erase all of the data stored by the CM Product Catalog in the database: items, options etc. <br/> It will also remove the shortcode page. <br/> It cannot be reverted."
                   onclick="return confirm('All database items of CM Product Catalog (items,terms, options etc.) will be erased. This cannot be reverted.')"
                   type="submit" name="cmpopfly_pluginCleanup" value="Clenup database" class="button cmtt-cleanup-button"/>
        </form>
    </div>
</div>

<?php include 'sharebox.phtml'; ?>

<br/>

<div class="clear"></div>

<br/>

<style type="text/css">
    .cminds_settings_description{float: left; max-width: 55%;}
    #cm-product-catalog-settings-form table {border-spacing:0; width: 100%;}
    #cm-product-catalog-settings-form tr td, #cm-product-catalog-settings-form tr th {padding:10px; border-bottom: solid 1px #f0f0f0; width: 30%;}
    #cm-product-catalog-settings-form tr th[colspan] {width: 100% !important;}
    #cm-product-catalog-settings-form table td input[type=text] {width: 90%; min-width: 100px; max-width: 300px;}
    #cm-product-catalog-settings-form table th {padding-left: 20px; font-weight: normal; text-align: right; vertical-align: top;}
    #cm-product-catalog-settings-form table td {vertical-align: top;}
    #cm-product-catalog-settings-form caption {color: #222; font: 600 1.3em verdana; margin: 1em 0; text-align: left;}
    #cm-product-catalog-settings-form tr:last-child td, #cm-product-catalog-settings-form tr:last-child th {border-bottom: none}
    textarea.cma-custom-css {min-width: 300px; max-width: 840px; width: 70%; height: 200px;}
    #cm-product-catalog-settings-form .tg-table-plain td, #cm-product-catalog-settings-form .tg-table-plain th { border: 1px #555 solid; padding: 5px;border-collapse: collapse;text-align: center;vertical-align: middle; }
    #cm-product-catalog-settings-form .tab-content ul {list-style: circle; margin: 1em 0 1em 30px;}
    #cm-product-catalog-settings-form td ul, #cm-product-catalog-settings-form td li {margin-top: 0 !important; padding: 0; list-style: disc;}
    .server-info-table td:nth-child(3) {}
    .server-info-table span {color: green; font-weight: bold;}
    .server-info-table strong {color: red; font-weight: bold;}
    h4 {font-weight: bold; margin: 2em 0 0.3em 0;}
    #authorsAutoApprovedResults {list-style: none; margin: 0 0 0 100px !important; margin-top: -14px; border:solid 1px #ccc; padding:5px !important; width:190px; display: none;}
    #authorsAutoApprovedResults li {list-style: none !important; margin: 0; padding: 0;}
    #authorsAutoApprovedSearch {width: 200px;}
    .cma-frontend-link {font-size: 120%;}
    .cma-warning {border: 1px solid #dddddd; border-left: 4px solid #ff9900; padding: 1em; font-size: 90%; margin: 1em 0;}

</style>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#tabs').tabs();
        jQuery('#tabs ul[role=tablist] a').click(function () {
            location.hash = this.href.substr(this.href.lastIndexOf('#') + 1, this.href.length).replace(/_/g, '-');
            this.blur();
        });
        jQuery('#tabs ul[role=tablist] a[href="' + location.hash.replace(/\-/g, '_') + '"]').click();
    });
</script>