
<div id="cmpopfly-widget-container">

    <a href="" class="cmpopfly-btn-open"></a>

    <div class="cmpopfly-btn-close"></div>

    <?php
    /*
     * Title
     */
    $showTitle = CMPOPFLY_Settings::getOption(CMPOPFLY_Settings::OPTION_WIDGET_SHOWTITLE);

    if( !empty($showTitle) ) :
        ?>
        <div class="cmpopfly-widget-title"><?php echo $helpItem->title; ?></div>
        <?php
    endif;
    ?>

    <?php
    /*
     * Header
     */
    if( !empty($helpItem->header) ) :
        ?>

        <div class="cmpopfly-widget-header">
            <?php
            echo $helpItem->header;
            ?>
        </div>

        <?php
    endif;
    ?>

    <?php
    /*
     * Search
     */
    $showSearch = CMPOPFLY_Settings::getOption(CMPOPFLY_Settings::OPTION_WIDGET_SHOWSEARCH);

    if( !empty($showSearch) ) :
        ?>

        <div class="cmpopfly-widget-search">
            <label><?php echo CMPOPFLY_Labels::getLocalized('search_label'); ?></label>
            <input type="search" id="cmpopfly-search" name="cmpopfly-search" placeholder="<?php echo CMPOPFLY_Labels::getLocalized('search_placeholder');?>" />
        </div>

        <?php
    endif;
    ?>

    <?php if( !empty($helpItem->helpItems) ) : ?>
        <select name="select">
            <?php
            foreach($helpItem->helpItems as $itemId => $item) :

                $data = '';
                $class = '';
                if( !empty($item->url) )
                {
                    $data = 'data-url="' . $item->url . '" data-image="'.CMPopUpFlyInShared::getExternalLinkIcon(true).'"';
                    $class = 'class="cmpopfly-external-link"';
                }
                ?>

                <option id="<?php echo 'item-' . $itemId; ?>" <?php echo $data; echo $class; ?> ><?php echo $item->title ?></option>
                <?php
            endforeach;
        endif;
        ?>
    </select>

    <div class="cmpopfly-widget-content" id="cmpopfly-widget-content">

        <?php
        $showFirst = 1;
        foreach($helpItem->helpItems as $itemId => $item) :
            ?>
            <ul class="<?php echo 'item-' . $itemId; ?> <?php echo $showFirst ? 'show' : ''; ?>">
                <li>
                    <h5 class="cmpopfly-widget-item-title">
                        <?php echo $item->title; ?>
                    </h5>
                    <?php echo $item->content; ?>
                </li>
            </ul>
            <?php
            $showFirst = 0;
        endforeach;
        ?>

    </div>

    <?php
    /*
     * Footer
     */
    if( !empty($helpItem->footer) ) :
        ?>

        <div class="cmpopfly-widget-footer">
            <?php
            echo $helpItem->footer;
            ?>
        </div>

        <?php
    endif;
    ?>

</div>