#cmpopfly-widget-container-wrapper {
  #cmpopfly-widget-container {
    background-color: #252525;
  }

  #cmpopfly-widget-container * {
    color: #ffffff;
  }

  #cmpopfly-widget-container input {
    color: #252525;
  }

  #cmpopfly-widget-container .cmpopfly-btn-close {
    background: url(../../images/btn-close-dark.png) no-repeat; }

  #cmpopfly-widget-container #cmpopfly-widget-content::-webkit-scrollbar {
    border: 1px solid #555555; }

  #cmpopfly-widget-container #cmpopfly-widget-content::-webkit-scrollbar-button:start {
    background: url(../../images/scroll_up.png) no-repeat center;
    border: 1px solid #555555; }

  #cmpopfly-widget-container #cmpopfly-widget-content::-webkit-scrollbar-button:end {
    background: url(../../images/scroll_down.png) no-repeat center;
    border: 1px solid #555555; }

  #cmpopfly-widget-container #cmpopfly-widget-content::-webkit-scrollbar-thumb {
    background: #555555; }

  #cmpopfly-widget-container .widget-title {
    color: #ffffff; }

  #cmpopfly-widget-container .cmpopfly-btn-open {
    background-color: #252525; }

  ul li {
    color: #fff; }

  ul li a {
    color: #fff; }

  ul li span {
    color: #b0b0b0; }

  /* Template specific */

  .cmpopfly-widget-item-content{
    margin: 0 35px;
  }

  .bx-wrapper .bx-viewport {
    border: none !important;
    background: #252525 !important;
    color: #fff;
    border-radius: 3px; }
}