#cmpopfly-widget-container-wrapper {
  #cmpopfly-widget-container {
    background-color: #ffffff;
  }

  #cmpopfly-widget-container * {
    color: #252525;
  }

  #cmpopfly-widget-container input {
    color: #252525;
  }

  #cmpopfly-widget-container .cmpopfly-btn-close {
    background: url(../../images/btn-close.png) no-repeat; }

  #cmpopfly-widget-container #cmpopfly-widget-content::-webkit-scrollbar {
    border: 1px solid #d7d7d7; }

  #cmpopfly-widget-container #cmpopfly-widget-content::-webkit-scrollbar-button:start {
    background: url(../../images/scroll_up.png) no-repeat center;
    border: 1px solid #d7d7d7; }

  #cmpopfly-widget-container #cmpopfly-widget-content::-webkit-scrollbar-button:end {
    background: url(../../images/scroll_down.png) no-repeat center;
    border: 1px solid #d7d7d7; }

  #cmpopfly-widget-container #cmpopfly-widget-content::-webkit-scrollbar-thumb {
    background: #d7d7d7; }

  #cmpopfly-widget-container .widget-title {
    color: #383838; }

  #cmpopfly-widget-container .cmpopfly-btn-open {
    background-color: #fff; }

  ul li {
    color: #fff; }

  ul li a {
    color: #fff; }

  ul li span {
    color: #383838; }

  /* Template specific */

  .cmpopfly-widget-item-content{
    margin: 0 35px;
  }

  .bx-wrapper{
    max-height: 500px;
  }

  .bx-wrapper .bx-viewport {
    border: none !important;
    border-radius: 3px;
    max-height: 500px;
  }
}
