.panesWrapper { float: left; width: 552px; height: 465px; font-size: 13px; line-height: 1.5; }
h4 { font-weight: bold; margin: 0; padding: 10px 0 0; }
.inner { position:relative; min-height:465px;}
.pane { padding:12px 25px 0; }
.vidPane { text-align:center; padding:40px 39px 0;}
.colors { border-bottom:1px solid #000; height:68px; width:320px; margin:60px auto 15px;}
.colors dd { float:left; width:25%; text-align:center;}
.colors div { width:35px; height:35px; margin:0 auto 5px;}
.colors .normal { background:#8ac84f;}
.colors .minor { background:#f9da68;}
.colors .major { background:#eb944b;}
.colors .critical { background:#bf5a4e;}
.colors+div {width:320px; color:#999; margin:0 auto; text-align:center;}

.fileLinkList { margin-bottom:20px; margin-right:-15px;}
.fileLinkList dd { border-top: 1px solid #282828; padding:6px 0;}
.fileLinkList dd:first-child { border:0;}
.fileLinkList a { background: url('../images/fileIcon.png') 0 3px no-repeat; font-size:12px; display:inline-block; padding-left:17px;}
.bottomFix {border-top: 1px solid #282828; text-align:right;padding: 7px 0 12px; margin-right:-15px;}
.bottomFix a { color:#999;}